.contact{
  display:flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  background-color:black;
  padding: 64px 32px;
  height: 680px;
}

html{
  scroll-behavior: smooth
}

.contact-section{
  width: 100%;
}
.contact-subtitle{
  color: #999999;
  text-align: start;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 500;
  margin: 0%;
  letter-spacing: 1px;
  text-transform: uppercase;


}
.contact-title{
  text-align:center;
  margin-top: 80px;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color:#cccccc;
  filter: drop-shadow(3px 3px 4px black);
}

.email{
  color: #cccccc;
}

.phone{
  color: #cccccc;
}

.location{
  color: #cccccc;
}

.contact-container{
  display: flex;
  height: 100%;
  width: 100%;
}

.left-container{
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  gap: 25px;
  height: 100%;
  width: 50%;
  /* background-color: aqua; */
}

.contact-text{
  font-size: 1.2rem;
}
.email{
  font-size: 2.2rem;
}
.phone{
  font-size: 2.2rem;
}
.location{
  font-size: 2.2rem;
}

.right-container{
  height: 100%;
  width: 30%;
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 42px;
  gap: 15px;


}

label{
  font-size:1.4rem;

  color: #cccccc;
}
input{
  font-size: 1rem;
  height: 1.5rem;
  border-radius: 7px ;
  padding-left: 10px;
  background-color: transparent;
  color: #cccccc;
}

textarea{
  height: 5.5rem;
  border-radius: 7px;
   font-size: 1rem;
   padding-left: 10px;
   background-color: transparent;
   color: #cccccc;
}
.contact-submit{
  height: 35px;
  font-size: 1rem;
  border-radius: 30px;
  cursor: pointer;
  background-color: #cccccc;
  transition: all 0.3s;

}

.contact-submit:hover{
  background-color: #999999;
}


@media only screen and (min-width:1790px){
  input{
    height: 3rem;
  }
  label{
    font-size: 2rem;
  }
  .contact-submit{
    height: 50px;
  }
}

@media (max-width:900px){
  .con
  .right-container{
    padding-right: 0%;
    width: 80%;
  }
}

@media (max-width:800px){
  .right-container{
    width: 50%;
  }

}

@media(max-width:730px){
  .contact{
    height: fit-content;
  }
  .contact-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  .left-container{
    height:40%;
    width: 100%;
    gap: 15px;
    padding-bottom: 15px;

  }
  .contact-text{
    font-size: 1rem;
  }
  .email{
    font-size: 1.5rem;
  }
  .phone{
    font-size: 1.5rem;
  }
  .location{
    font-size: 1.5rem;
  }

  .right-container{
    height: 55%;
    width: 70%;
    padding: 0%;
    padding-left: 20px;
    
  }
  label{
    font-size:1rem;
  }

  input{
    font-size: .80rem;
    height: 1.6rem;

  }
  textarea{
    height: 4rem;

  }
}

@media (max-width:430px){
  .right-container{
    width: 80%;
    padding: 0%;
  }
}

@media (max-width:380px){
  .right-container{
    width: 100%;
    padding: 0%;
  }
}