

.skills-section{
  /* background-color: #354249; */
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* max-width: 1200PX; */
  /* margin: 0 auto; */
  padding: 4rem 2rem;
  text-align: center;
}

html{
  scroll-behavior: smooth
}
.section-subtitle{
  color:#999999;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  
  align-self: flex-start;
  margin: 0%;
}

.section-title{
  margin-top:80px;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color:#cccccc;
  filter: drop-shadow(3px 3px 4px black);
}

.section-description{
  color: #999999;
   font-size: 1.5rem;
  margin: 0 auto 3rem;
  padding: 0%;
  
}

.skills-container{
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.skill-card{
  background-color:#303A40;
  background-color: transparent;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.311);
  padding: 2rem;
  
  /* width: 300px; */
}

.skill-card h3{
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
  margin: 0%;
  margin-bottom:20px;
}
.progress-circle{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
  background: conic-gradient( #1c584c calc(var(--percentage)*1%),#e0e0e0 0);
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 0 auto 1.5rem; */
  transition: background 0.3 ease-in-out;
 
}
.progress-circle::before{
  content:"" ;
  position: absolute;
  inset: 8px;
  border-radius: 50%;
  /* background-color:#283035; */
  background-color: black;
  

}
.percentage{
  color: #999999;
  position: relative;
  font-size: 1.8rem;
  font-weight: bold;
  transition: opacity 0.3 ease-in-out;
  
}
@media only screen and (min-width:1790px){
  .section-description{
    font-size: 1.8rem;
    line-height: 2.25rem;
    width: 80%;
  }
}

@media (max-width:890px){

}.section-description{
  font-size: 1.25rem;
  line-height: 1.75rem;

}

@media (max-width:780px){

  .progress-circle{
    height: 110px;
    width: 110px;
  }
.skill-card{
  padding: 1rem;
}
.progress-circle::before{
  inset: 6px;

}
.percentage{
  font-size: 1.4rem;
}
.section-description{
  font-size: 1.125rem;
  line-height: 1.5rem;
}
.skill-card h3{
  font-size: 1rem;
}
}

@media (max-width:730px){
  .section-description{
    font-size: 16px;
    line-height: 1.5rem;
  }
}

@media (max-width:480px){
  .section-description{
    font-size: 1rem;
    line-height: 1.4rem;
    padding: 0 1rem;
  }
}

@media (max-width:430px){
  .section-subtitle{
    font-size: 1rem;
  }
  /* .section-title{
    font-size:1.5rem;
  } */
   
  .progress-circle{
    height: 100px;
    width: 100px;
  }
  .percentage{
    font-size: 1.1rem;
  }
  .skill-card{
    padding: .75rem;
  }
  
  
}
@media(max-width:380px){
  .section-description{
    font-size: 0.9rem;
    line-height: 1.2rem;
    padding: 0 0.5rem;
  }
}